In [2]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
from datetime import datetime as dt
import os
%matplotlib inline

In [35]:
#read csv file for Impact of Covid19 on global economy
df_raw = pd.read_csv('Dataset/raw_data.csv')
df_raw.head()

,iso_code,location,date,total_cases,total_deaths,stringency_index,population,gdp_per_capita,human_development_index,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,AFG,Afghanistan,2019-12-31,0.0,0.0,0.0,38928341,1803.987,0.498,#NUM!,#NUM!,#NUM!,17.477233,7.497754494
1,AFG,Afghanistan,2020-01-01,0.0,0.0,0.0,38928341,1803.987,0.498,#NUM!,#NUM!,#NUM!,17.477233,7.497754494
2,AFG,Afghanistan,2020-01-02,0.0,0.0,0.0,38928341,1803.987,0.498,#NUM!,#NUM!,#NUM!,17.477233,7.497754494
3,AFG,Afghanistan,2020-01-03,0.0,0.0,0.0,38928341,1803.987,0.498,#NUM!,#NUM!,#NUM!,17.477233,7.497754494
4,AFG,Afghanistan,2020-01-04,0.0,0.0,0.0,38928341,1803.987,0.498,#NUM!,#NUM!,#NUM!,17.477233,7.497754494

In [21]:
#Remove unnamed column since we don't know what that data stands for
df_raw.drop('Unnamed: 9', inplace=True, axis=1)
df_raw.drop('Unnamed: 10', inplace=True, axis=1)
df_raw.drop('Unnamed: 11', inplace=True, axis=1)
df_raw.drop('Unnamed: 12', inplace=True, axis=1)
df_raw.drop('Unnamed: 13', inplace=True, axis=1)

df_raw.head(10)

,iso_code,location,date,total_cases,total_deaths,stringency_index,population,gdp_per_capita,human_development_index
0,AFG,Afghanistan,2019-12-31,0.0,0.0,0.0,38928341,1803.987,0.498
1,AFG,Afghanistan,2020-01-01,0.0,0.0,0.0,38928341,1803.987,0.498
2,AFG,Afghanistan,2020-01-02,0.0,0.0,0.0,38928341,1803.987,0.498
3,AFG,Afghanistan,2020-01-03,0.0,0.0,0.0,38928341,1803.987,0.498
4,AFG,Afghanistan,2020-01-04,0.0,0.0,0.0,38928341,1803.987,0.498
5,AFG,Afghanistan,2020-01-05,0.0,0.0,0.0,38928341,1803.987,0.498
6,AFG,Afghanistan,2020-01-06,0.0,0.0,0.0,38928341,1803.987,0.498
7,AFG,Afghanistan,2020-01-07,0.0,0.0,0.0,38928341,1803.987,0.498
8,AFG,Afghanistan,2020-01-08,0.0,0.0,0.0,38928341,1803.987,0.498
9,AFG,Afghanistan,2020-01-09,0.0,0.0,0.0,38928341,1803.987,0.498

In [22]:
df_raw.describe()

,total_cases,total_deaths,stringency_index,population,gdp_per_capita,human_development_index
count,4.732400e+04,39228.000000,43292.000000,5.041800e+04,44706.000000,44216.000000
mean,6.621927e+04,2978.767819,56.162022,4.251601e+07,20818.706240,0.720139
std,4.045582e+05,13836.644013,27.532685,1.564607e+08,20441.365392,0.160902
min,0.000000e+00,0.000000,0.000000,8.090000e+02,661.240000,0.000000
25%,1.260000e+02,10.000000,37.960000,1.399491e+06,5338.454000,0.601000
50%,1.594000e+03,64.000000,61.110000,8.278737e+06,13913.839000,0.752000
75%,1.584775e+04,564.000000,78.700000,2.913681e+07,31400.840000,0.847000
max,8.154595e+06,219674.000000,100.000000,1.439324e+09,116935.600000,0.953000

In [23]:
#Detect all missing values
print('\n', df_raw.isna().sum())

 iso_code                       0
location                       0
date                           0
total_cases                 3094
total_deaths               11190
stringency_index            7126
population                     0
gdp_per_capita              5712
human_development_index     6202
dtype: int64

In [24]:
#replace all missing values with 0
df = df.replace(to_replace = np.nan, value = 0)

In [25]:
df.head()

,iso_code,location,date,total_cases,total_deaths,stringency_index,population,gdp_per_capita,human_development_index
0,AFG,Afghanistan,2019-12-31,0.0,0.0,0.0,38928341,1803.987,0.498
1,AFG,Afghanistan,2020-01-01,0.0,0.0,0.0,38928341,1803.987,0.498
2,AFG,Afghanistan,2020-01-02,0.0,0.0,0.0,38928341,1803.987,0.498
3,AFG,Afghanistan,2020-01-03,0.0,0.0,0.0,38928341,1803.987,0.498
4,AFG,Afghanistan,2020-01-04,0.0,0.0,0.0,38928341,1803.987,0.498

In [27]:
print('\n', df.isna().sum())

 iso_code                   0
location                   0
date                       0
total_cases                0
total_deaths               0
stringency_index           0
population                 0
gdp_per_capita             0
human_development_index    0
dtype: int64

In [43]:
#read Unemployment rate data and clean it
df_unemployment = pd.read_csv('Dataset/unemployment_data.csv')
df_unemployment_orginal.head()

  LOCATION INDICATOR SUBJECT MEASURE FREQUENCY     TIME     Value Flag Codes
0      AUS       HUR     TOT   PC_LF         M  2005-01  5.074622        NaN
1      AUS       HUR     TOT   PC_LF         M  2005-02  5.085431        NaN
2      AUS       HUR     TOT   PC_LF         M  2005-03  5.163756        NaN
3      AUS       HUR     TOT   PC_LF         M  2005-04  5.123358        NaN
4      AUS       HUR     TOT   PC_LF         M  2005-05  5.100113        NaN

In [44]:
df_unemployment_orginal.describe()

             Value
count  7943.000000
mean      7.767095
std       3.946975
min       1.700000
25%       5.100000
50%       7.000000
75%       9.300000
max      28.000000

In [45]:
#Detect all missing values
print('\n', df_unemployment_orginal.isna().sum())

 LOCATION         0
INDICATOR        0
SUBJECT          0
MEASURE          0
FREQUENCY        0
TIME             0
Value            0
Flag Codes    7104
dtype: int64

In [46]:
#Remove the flag code column since only few countries have it on.
df_unemployment_orginal.drop('Flag Codes', inplace=True, axis=1)
print('\n', df_unemployment_orginal.isna().sum())
df_unemployment_orginal.head()

 LOCATION     0
INDICATOR    0
SUBJECT      0
MEASURE      0
FREQUENCY    0
TIME         0
Value        0
dtype: int64

  LOCATION INDICATOR SUBJECT MEASURE FREQUENCY     TIME     Value
0      AUS       HUR     TOT   PC_LF         M  2005-01  5.074622
1      AUS       HUR     TOT   PC_LF         M  2005-02  5.085431
2      AUS       HUR     TOT   PC_LF         M  2005-03  5.163756
3      AUS       HUR     TOT   PC_LF         M  2005-04  5.123358
4      AUS       HUR     TOT   PC_LF         M  2005-05  5.100113